body {
  background-color: rgba(0, 128, 117, 0.676);
}

.top-img {
  width: 2000px;
  height: 25vh;
  object-fit: cover;
  overflow: hidden;
  object-position: 50% 21%;
  margin-left: -10px;
  margin-right: -10px;
}

ul {
  list-style-type: none;
}

#myList li {
  border: 3px solid black;
  padding: 5px;
  margin: 5px;
  max-width: 50px;
  display: inline-block;
}

#myList li:hover {
  cursor: grab;
}

.nameOfRestaurant {
  margin-left: 40px;
}
